<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 重置样式表 -->
    <link rel="stylesheet" href="./css/reset.css">
    <!-- 本页面样式表 -->
    <link rel="stylesheet" href="./css/list.css">
    <!-- 引入图标 -->
    <link rel="shortcut icon" href="./aaa.ico" type="image/x-icon">
</head>

<body>
    <!-- 导航栏 -->
    <div class="nav">
        <div class="nav_content clearfix">
            <div class="nav_left">
                <ul class="clearfix">
                    <li>网站导航</li>
                    <li>
                        商家入驻
                    </li>
                    <li>
                        客户服务
                    </li>
                    <li>
                        北京
                        <i class="ti1"></i>
                    </li>
                </ul>
            </div>
            <div class="nav_right">
                <ul class="clearfix">
                    <li><a href="/login">请登录</a></li>
                    <li><a href="/register" class="a2">注册有礼</a></li>
                    <li>我的订单</li>
                    <li>我的易购</li>
                    <li>小U会员</li>
                    <li>
                        <a style="color: #FE774A;" href="/ShoppingCart">
                            <i class="ti1"></i>
                            购物车&nbsp;0
                    </li>
                    </a>
                    <li>
                        易付宝
                    </li>
                    <li>
                        企业采购
                    </li>
                    <li>
                        手机小U
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 搜索框 -->
    <div class="header">
        <div class="header_search clearfix">
            <div class="header_search_left">
                <img src="./images/logo.jpg" alt="logo">
            </div>
            <div class="header_search_right">
                <div class="top">
                    <div class="search">
                        <input type="text" placeholder="跨店没300减30">
                        <div class="sous">搜索</div>
                    </div>
                </div>
                <div class="bottom">
                    <ul class="clearfix">
                        <li>
                            手机
                            <i>|</i>
                        </li>
                        <li>
                            电动牙刷
                            <i>|</i>
                        </li>
                        <li>
                            电视
                            <i>|</i>
                        </li>
                        <li>
                            海尔空调
                            <i>|</i>
                        </li>
                        <li>
                            洗衣机
                            <i>|</i>
                        </li>
                        <li>
                            茅台
                            <i>|</i>
                        </li>
                        <li>
                            热水器
                            <i>|</i>
                        </li>
                        <li>
                            ipad
                            <i>|</i>
                        </li>
                        <li>
                            微波炉
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 菜单栏 -->
    <div class="menu">
        <div class="menu_centent clearfix">
            <div class="left">
                <div class="dd">
                    全部商品分类
                </div>
                <div class="menuer">
                    <ul>
                        <li>
                            <span>手机<i>|</i></span>
                            <span>运营商<i>|</i></span>
                            <span>智能数码</span>
                        </li>
                        <li>
                            <span>空调<i>|</i></span>
                            <span>电视<i>|</i></span>
                            <span>冰箱<i>|</i></span>
                            <span>冰箱</span>
                        </li>
                        <li>
                            <span>厨卫大电<i>|</i></span>
                            <span>生活家电<i>|</i></span>
                            <span>厨具</span>
                        </li>
                        <li>
                            <span>电脑办公<i>|</i></span>
                            <span>相机<i>|</i></span>
                            <span>DIY</span>
                        </li>
                        <li>
                            <span>食品<i>|</i></span>
                            <span>酒水<i>|</i></span>
                            <span>生鲜<i>|</i></span>
                            <span>特产</span>
                        </li>
                        <li>
                            <span>美妆<i>|</i></span>
                            <span>个护<i>|</i></span>
                            <span>清洁<i>|</i></span>
                            <span>宠物</span>
                        </li>
                        <li>
                            <span>母婴<i>|</i></span>
                            <span>玩具<i>|</i></span>
                            <span>车床<i>|</i></span>
                            <span>童装</span>
                        </li>
                        <li>
                            <span>运动<i>|</i></span>
                            <span>户外<i>|</i></span>
                            <span>足球<i>|</i></span>
                            <span>跑步机</span>
                        </li>
                        <li>
                            <span>男装<i>|</i></span>
                            <span>女装<i>|</i></span>
                            <span>内衣<i>|</i></span>
                            <span>鞋靴</span>
                        </li>
                        <li>
                            <span>箱包<i>|</i></span>
                            <span>钟表<i>|</i></span>
                            <span>珠宝<i>|</i></span>
                            <span>艺术</span>
                        </li>
                        <li>
                            <span>汽车<i>|</i></span>
                            <span>汽摩<i>|</i></span>
                            <span>二手车<i>|</i></span>
                            <span>车品</span>
                        </li>
                        <li>
                            <span>图书<i>|</i></span>
                            <span>艺术<i>|</i></span>
                            <span>原版<i>|</i></span>
                            <span>文学</span>
                        </li>
                        <li>
                            <span>医药健康<i>|</i></span>
                            <span>计生情趣</span>
                        </li>
                        <li>
                            <span>理财<i>|</i></span>
                            <span>分期<i>|</i></span>
                            <span>保险</span>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="right">
                <ul class="clearfix">
                    <li>限时抢购</li>
                    <li>红孩子</li>
                    <li>小U超市</li>
                    <li>电器城</li>
                    <li>生活家电</li>
                    <li>时尚服饰</li>
                    <li>金融</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 一层接一层的东西 -->
    <div class="yic">
        <ul class="clearfix">
            <li>首页
                <i>></i>
            </li>
            <li>家用电器
                <i>></i>
            </li>
            <li>年份季节：2020年春季</li>
        </ul>
    </div>

    <!-- 列表规格选择 -->
    <div class="list_guig">
        <div class="box">
            <dl class="clearfix">
                <dt>品牌</dt>
                <dd>惠普</dd>
                <dd>长城</dd>
                <dd>三星</dd>
                <dd>小米</dd>
                <dd>康佳</dd>
                <dd>海信</dd>
                <dd>长城</dd>
                <dd>TCL</dd>
                <dd>东芝</dd>
                <dd>松下</dd>
                <dd>创维</dd>
                <dd class="dd1">更多</dd>
            </dl>
            <dl class="clearfix">
                <dt>电视类型</dt>
                <dd>4K超清</dd>
                <dd>曲面</dd>
                <dd>人工智能</dd>
                <dd>大屏</dd>
                <dd>超薄</dd>
                <dd>全面屏</dd>
                <dd>OLED</dd>
                <dd>商业显示</dd>
                <dd>智慧屏</dd>
                <dd>量子点</dd>
                <dd>激光电视</dd>
            </dl>
            <dl class="clearfix">
                <dt>观看距离</dt>
                <dd>2m以下</dd>
                <dd>2m-2.5</dd>
                <dd>2.5m-3m</dd>
                <dd>3m-3.5m</dd>
                <dd>3.5m以上</dd>
                <dd class="dd1">更多</dd>
            </dl>
            <dl class="clearfix">
                <dt>屏幕尺寸</dt>
                <dd>32英寸及以下</dd>
                <dd>39-45英寸</dd>
                <dd>48英寸-50英寸</dd>
                <dd>55英寸</dd>
                <dd>58-60英寸</dd>
                <dd>65英寸</dd>
                <dd>70-75英寸</dd>
                <dd>78英寸</dd>
                <dd>100英寸</dd>
                <dd>150英寸</dd>
                <dd>其他尺寸</dd>
                <dd class="dd1">更多</dd>
            </dl>
            <dl class="clearfix">
                <dt>高级选项</dt>
                <dd>分辨率</dd>
                <dd>处理器</dd>
                <dd>音效</dd>
                <dd>HDR</dd>
                <dd>USB</dd>
                <dd>音频输出</dd>
                <dd class="dd1">更多</dd>
            </dl>
        </div>
    </div>

    <!-- 商品推荐left -->
    <div class="list_details clearfix">
        <!-- 商品推荐 -->
        <div class="list_details_left">
            <div class="box">
                <div class="xixi">
                    <h3>商品推荐</h3>
                    <ul>
                        <li>
                            <div class="top">
                                <img src="./images/pic1.jpg" alt="21">
                            </div>
                            <div class="center">
                                海信（Hisense）<br>
                                LED55C760UC 55英寸曲面
                            </div>
                            <div class="bottom">
                                ￥4999.00
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <img src="./images/pic1.jpg" alt="21">
                            </div>
                            <div class="center">
                                海信（Hisense）<br>
                                LED55C760UC 55英寸曲面
                            </div>
                            <div class="bottom">
                                ￥4999.00
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <img src="./images/pic1.jpg" alt="21">
                            </div>
                            <div class="center">
                                海信（Hisense）<br>
                                LED55C760UC 55英寸曲面
                            </div>
                            <div class="bottom">
                                ￥4999.00
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <img src="./images/pic1.jpg" alt="21">
                            </div>
                            <div class="center">
                                海信（Hisense）<br>
                                LED55C760UC 55英寸曲面
                            </div>
                            <div class="bottom">
                                ￥4999.00
                            </div>
                        </li>
                        <li>
                            <div class="top">
                                <img src="./images/pic1.jpg" alt="21">
                            </div>
                            <div class="center">
                                海信（Hisense）<br>
                                LED55C760UC 55英寸曲面
                            </div>
                            <div class="bottom">
                                ￥4999.00
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 商品的展示 -->
        <div class="list_details_right">
            <!-- 头部内容 -->
            <div class="top clearfix">
                <div class="left">
                    <ul class="clearfix">
                        <li>综合</li>
                        <li>新品</li>
                        <li>销量</li>
                        <li>价格</li>
                    </ul>
                </div>
                <div class="right clearfix">
                    <div class="x1">
                        共614件商品
                    </div>
                    <div class="x2">
                        <span><i>1</i>/11</span>
                    </div>
                </div>
            </div>
            <!-- 宝贝内容 -->
            <div class="center">
                <div class="box">
                    <ul class="clearfix">
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                    <div class="soc_1">
                                        +1
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="clearfix">
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                    <div class="soc_1">
                                        +1
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="clearfix">
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                    <div class="soc_1">
                                        +1
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="clearfix">
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                    <div class="soc_1">
                                        +1
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="./details.html">
                                <div class="lqbz">
                                    <div class="img">
                                        <img src="./images/pic2.jpg" alt="12">
                                    </div>
                                    <div class="jq">
                                        ￥4999.00
                                    </div>
                                    <div class="wz">
                                        海信 电视机 超薄屏幕，护眼防蓝光
                                    </div>
                                    <div class="wz1">
                                        不要错过，不要辜负
                                    </div>
                                    <div class="wz2">
                                        已有<span>3.2万<i>+</i></span>人评价
                                    </div>
                                    <div class="gwc clearfix">
                                        <span></span>
                                        <span>加入购物车</span>
                                        <span>收藏</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- 页数 -->
            <div class="bottom clearfix">
                <div class="yema">
                    <div class="yemaq"></div>
                </div>
                <div class="yema2">
                    <ul class="clearfix">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>...</li>
                        <li>下一页</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->

    <div class="foot_1 clearfix">
        <div class="foot_1_box">
            <div class="font_wz1">
                <ul>
                    <li>购物指南</li>
                    <li>购物流程</li>
                    <li>支付方式</li>
                    <li>配送方式</li>
                </ul>
            </div>
            <div class="font_wz1">
                <ul>
                    <li>售后服务</li>
                    <li>售后政策</li>
                    <li>价格保护</li>
                    <li>退款说明</li>
                    <li>返修/退换货</li>
                    <li>取消订单</li>
                </ul>
            </div>
            <div class="font_wz1">
                <ul>
                    <li>配送方式</li>
                    <li>上门自提</li>
                    <li>211限时达</li>
                    <li>配送服务查询</li>
                    <li>配送费收取标准</li>
                    <li>海外配送</li>
                </ul>
            </div>
            <div class="font_wz1">
                <ul>
                    <li>支付方式</li>
                    <li>网上支付</li>
                    <li>支付宝支付</li>
                    <li>邮局汇款</li>
                </ul>
            </div>
            <div class="font_wz1">
                <ul>
                    <li>用户帮助</li>
                    <li>免费注册</li>
                    <li>找回密码</li>
                    <li>常见问题</li>
                    <li>优惠券使用</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foot_2">
        <div class="foot_2_wz">
            <span>Copyright@2010-2020 小U商城 版权所有 保留一切权力</span>
            <br>
            <span>京ICP备10218183 京ECP证161188号 京公网安备 11010802020593号 出版经营许可证新出发京批字第直130052号</span>
        </div>
    </div>
</body>

</html>